<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.pay.dao.QcWexUserDao">

	<select id="get" resultType="com.admin.pay.domain.QcWexUserDO">
		select `id`,`nick_name`,`open_id`,`provice`,`city`,`last_time`,`user_head` from yunh_qc_wex_user where id = #{value}
	</select>
	<select id="getByOpenId" resultType="com.admin.pay.domain.QcWexUserDO">
		select `id`,`nick_name`,`open_id`,`provice`,`city`,`last_time`,`user_head` from yunh_qc_wex_user where open_id = #{value}
	</select>

	<select id="list" resultType="com.admin.pay.domain.QcWexUserDO">
		select `id`,`nick_name`,`open_id`,`provice`,`city`,`last_time`,`user_head`, from yunh_qc_wex_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="provice != null and provice != ''"> and provice = #{provice} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime} </if>
		  		  <if test="userHead != null and userHead != ''"> and user_head = #{userHead} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from yunh_qc_wex_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="provice != null and provice != ''"> and provice = #{provice} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime} </if>
		  		  <if test="userHead != null and userHead != ''"> and user_head = #{userHead} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.admin.pay.domain.QcWexUserDO" useGeneratedKeys="true" keyProperty="id">
		insert into yunh_qc_wex_user
		(
			`nick_name`, 
			`open_id`, 
			`provice`, 
			`city`, 
			`last_time`, 
			`user_head`
		)
		values
		(
			#{nickName}, 
			#{openId}, 
			#{provice}, 
			#{city}, 
			#{lastTime}, 
			#{userHead}
		)
	</insert>
	 
	<update id="update" parameterType="com.admin.pay.domain.QcWexUserDO">
		update yunh_qc_wex_user 
		<set>
			<if test="nickName != null">`nick_name` = #{nickName}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="provice != null">`provice` = #{provice}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="lastTime != null">`last_time` = #{lastTime}, </if>
			<if test="userHead != null">`user_head` = #{userHead}, </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from yunh_qc_wex_user where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from yunh_qc_wex_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>