<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="initial-scale=1,maximum-scale=1, minimum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>畅享青春-业务办理-存150送480</title>
<link rel="stylesheet" href="/css/changxiang/main.css">
<link href="/css/changxiang/drag.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/changxiang/jquery.min.js"></script>
<script src="/js/changxiang/drag.js" type="text/javascript"></script>
</head>
<body>

	<div class="pc-kk-form" id="subForm">
		<form action="">
			<div class="pc-kk-form-list">
				<input type="text" id="name" placeholder="姓名" valid="required"
					tips="姓名不能为空!">
			</div>
			<div class="pc-kk-form-list">
				<input type="text" id="cardNo" placeholder="身份证号" valid="ID"
					tips="请正确填写身份证号码!">
			</div>
			<div class="pc-kk-form-list">
				<input type="text" id="dormId" placeholder="寝室" valid="required"
					tips="寝室不能为空!">
			</div>
			<div class="pc-kk-form-list">
				<input type="text" id="telephone" placeholder="电话" valid="phone"
					tips="请正确填写电话号码!">
			</div>
			<div class="pc-kk-form-list pc-kk-form-list-clear">
				<div class="_childe" name="_childe" style="width: 65%">
					<input type="text" id="validCode" placeholder="验证码"
						valid="required" tips="验证码不能为空!">
				</div>
				<div class="_childe" id="_getCode" name="_getCode"
					style="width: 33%; float: right; background-color: #4cd463; color: white; text-align: center; cursor: pointer;">
					获取验证码</div>
			</div>
			<div class="fields__item"
				style="width: 100%; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold;">
				安装免费宽带：<input id="isWb" class="uiswitch" onclick="test()"
					checked="checked" type="checkbox">
			</div>
			<div class="pc-kk-form-list pc-kk-form-list-clear">
				<div class="nice-select" name="nice-select">
					<input id="_shcool" type="text" value="选择学校" readonly="readonly"
						valid="not" v-value="选择学校" tips="请正确选择学校!">
					<ul id="_shcool_ul">
						<li data-value="time1">成都网络科技大学</li>
						<li data-value="time2">成都外国语大学</li>
						<li data-value="time3">成都音乐学院</li>
					</ul>

				</div>
				<div class="nice-select" name="nice-select" style="float: right">
					<input id="_persents" type="text" value="业务员" readonly="readonly"
						valid="not" v-value="业务员" tips="请正确选择业务员!">
					<ul id="_persents_ul">
						<li data-value="USA">USA</li>
						<li data-value="Britain">Britain</li>
						<li data-value="Britain">Germany</li>
					</ul>

				</div>
			</div>

			<div style="display: none;" id="drag"></div>
			<div style="margin-top: 10px;"></div>
			<div class="pc-kk-form-btn">
				<button not='not'>提交</button>
			</div>
		</form>
	</div>



	<script>
		var entity = {
			getCode : true,//是否可以获取code了，如果还没有走出超时时间，就不允许获取
			codeTime : 5,
			codeStart : function() {
				$('#_getCode').css('background-color', '#cccccc');
				$('#_getCode').text('(' + (entity.codeTime--) + ')S后再次获取');
			},
			codeEnd : function() {
				$('#_getCode').css('background-color', '#4cd463');
				$('#_getCode').text('获取验证码');
				entity.getCode = true;
				entity.codeTime = 60;
			},
			codePass : function(dom) {
				dom.parent('div').css('border', '1px solid #4cd463');
			},
			codeNPass : function(dom) {
				entity.errTips(dom.attr('tips'));
				dom.parent('div').css('border', '1px solid red');
				dom.focus();
			},
			err_tips_state : true,
			errTips : function(msg) {
				var istips = $('#_errTips').text();
				if (istips) {
					$('#_errTips').text(msg);

				} else {
					var tipsHtml = '<div id="_errTips" style="border-radius:5px;top:20px;position:fixed;width:80%;left:10%;height:40px;line-height:40px;text-align:center;background-color:#ec5224;">'
							+ msg + '</div>';
					$('body').append(tipsHtml);
				}
				if (entity.err_tips_state) {
					$('#_errTips').show();
					entity.err_tips_state = false;
					setTimeout(function() {
						$('#_errTips').hide();
						entity.err_tips_state = true;
					}, 2000);
				}

			}
		}
		function test() {
			console.log(1);
		}
		function _submit() {
			var params = validateFrom();
			if (params.res) {
				console.log('pass');
				var isInter = $('#isWb').is(':checked');//是否安装宽带
				params.isWb = isInter;
				params['schoolId']=params._shcool;
				params['userId']=params._persents;
				//提交信息
				$.ajax({
					
				})
			} else {
				console.log('nopass');
			}
			console.log(JSON.stringify(params));
		}
		function validateFrom() {
			var inps = $('#subForm :input');
			var params = {};
			var res = true;
			var thDom;
			for (var i = 0; i < inps.size(); i++) {
				var thDom = $(inps[i]);
				var vthen = thDom.attr('valid');
				var thenVal = thDom.val();
				if (vthen == 'required') {
					if (thenVal == '') {
						res = false;
						break;
					}
					entity.codePass(thDom);
				}
				if (vthen == 'phone') {
					var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
					if (!phoneReg.test(thenVal)) {
						res = false;
						break;
					}
					entity.codePass(thDom);
				}
				if (vthen == 'ID') {
					var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
					if (reg.test(thenVal) === false) {
						res = false;
						break;
					}
					entity.codePass(thDom);
				}
				if (vthen == 'not') {
					if (thenVal == thDom.attr('v-value')) {
						res = false;
						break;
					}
					entity.codePass(thDom);
				}
				if (thDom.attr('not') != 'not') {
					var thId = thDom.attr('id');
					params[thId] = thenVal;
				}
			}
			if (!res) {
				entity.codeNPass(thDom);
			}
			params['res'] = res;
			return params;
		}
		function getYeValue(s) {
			var ul = '<li data-value="USA">janpennis</li><li data-value="Britain">Britain</li><li data-value="Britain">Germany</li>';
			$('#_persents_ul').html(ul);
			$('#_persents').val('业务员');
		}
		function getYSchoolValue() {
			var ul = '';
			$('#_shcool').html();
		}
		$(function() {
			$('#drag').drag();
			$(":submit").click(function() {
				_submit();
				return false;
			})
		})

		$('[name="nice-select"]').click(function(e) {

			$('[name="nice-select"]').find('ul').hide();

			$(this).find('ul').show();

			e.stopPropagation();

		});

		$('#_getCode').click(
				function() {
					var thenVal = $('#telephone').val();
					var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
					if (!phoneReg.test(thenVal)) {
						entity.codeNPass($('#telephone'));
						return;
					}
					if (entity.getCode) {
						$('#_getCode').css('background-color', '#cccccc');
						$('#_getCode').text('(' + (--entity.codeTime) + ')S后再次获取');
						//ajax获取验证码
						$.ajax({
							url:'getVcode',
							data:{phone:thenVal},
							async:false,
							success:function(data){
								if(data.code=="000000"){
									//成功
									entity.getCode = false;
									var codeInv = setInterval(function() {
										if (entity.codeTime <= 1) {
											entity.codeEnd();
											window.clearInterval(codeInv);
										} else {
											$('#_getCode').text(
													'(' + (--entity.codeTime) + ')S后再次获取');

										}
									}, 1000);
								}else{
									//失败
									entity.errTips(data.msg);
								}
							}
						});
						//获取验证码结束
					}
				})
		$('[name="nice-select"] li').hover(function(e) {

			$(this).toggleClass('on');

			e.stopPropagation();

		});

		$('[name="nice-select"]').on('click', 'li', function(e) {
			var pid = $(this).parent('ul').attr('id');
			var val = $(this).text();
			$(this).parents('[name="nice-select"]').find('input').val(val);
			$('[name="nice-select"] ul').hide();
			e.stopPropagation();

			if (pid == '_shcool_ul') {
				getYeValue();
			}

		});

		$(document).click(function() {

			$('[name="nice-select"] ul').hide();

		});
	</script>

</body>
</html>