<!doctype html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>XLB</title>

      <link rel="stylesheet" type="text/css" href="/css/wx/login.css">
    <link href="/css/wx/public.css" rel="stylesheet" type="text/css"><!--默认共用样式-->

    <script src="/js/wx/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wx/login.css">
    <link rel="stylesheet" href="/css/wx/swiper.min.css">
    <script src="/js/wx/swiper.min.js"></script>
    <script src="/js/wx/jweixin-1.2.0.js"></script>
    <script src="/js/wx/cryptico.js"></script>
    <script src="/js/wx/jsrsasign-all-min.js"></script>
    <script src="/js/wx/smit-sdk-js-v2.1.0.min.js"></script>
</head>

<body>



<div class="swiper-container">
    <div class="my-pagination"><ul class="my-pagination-ul"></ul></div>
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <!--连接设备-->
            <div class="user_zc_body">
                <ul>
                    <li id="connectedsuccess"> <p class="p_input p_input_yzm"><em class="fa fa-envelope"></em><span style="float:right">设备未连接</span></p> </li>
                </ul>
                <div class="user_zc_btn"><p class="p_btn" id="scanbtn"><a onclick="ScanBlus()" class="c_4">扫描</a></p></div>
                <ul id="connectmodel">
                </ul>
            </div>
            <!--绑定设备END-->
        </div>

        <!--功能菜单-->
        <div class="swiper-slide">

            <!--固话绑定GO-->
            <div class="user_zc_body">
                <div id="activity-detail" class="zh_CN ">
                    <!-- <div id='Wxinit' tabindex='12' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="Wxinit()">初始化</div> -->
                    <!-- <div id='ScanBlu' tabindex='1' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="ScanBlu()">扫描蓝牙</div>
                    <div id='StopScanBlu' tabindex='10' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="StopScanBlu()">停止扫描</div> -->
                    <div id='Deviceinfo' tabindex='2' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getDeviceInfo()">设备信息</div>
                    <div id='getRandom' tabindex='3' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getRandom()">随机数</div>
                    <div id='externalAuth' tabindex='4' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="externalAuth()">外部认证</div>
                    <div id='deviceAuth' tabindex='5' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="deviceAuth()">设备认证</div>
                    <div id='getTsk' tabindex='6' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getTsk()">获取TSK</div>
                    <div id='gasCardSetType442' tabindex='7' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="gasCardSetType442()">442卡类型</div>
                    <div id='gasCardSetType102' tabindex='8' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="gasCardSetType102()">102卡类型</div>
                    <div id='gasCardSetType' tabindex='9' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="cardCheck()">卡检测</div>
                    <div id='gasCardCheckPwd' tabindex='10' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="gasCardCheckPwd()">密码校验</div>
                    <div id='gasCardRead' tabindex='11' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="gasCardRead()">读燃气卡</div>
                    <div id='gasCardWrite' tabindex='12' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="gasCardWrite()">写燃气卡</div>
                    <div id='elecCardCheck' tabindex='13' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="elecCardCheck()">电卡检测</div>
                    <div id='elecCardSetType' tabindex='14' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="elecCardSetType()">电卡类型</div>
                    <div id='elecCardPoweron' tabindex='15' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="elecCardPoweron()">电卡上电</div>
                    <div id='elecCardComunication' tabindex='16' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="elecCardComunication()">电卡通讯</div>
                    <div id='elecCardPoweroff' tabindex='17' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="elecCardPoweroff()">电卡下电</div>
                    <div id='getFirmwareInfo' tabindex='18' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getFirmwareInfo()">固件信息</div>
                    <div id='getBlestate' tabindex='19' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getBlestate()">蓝牙状态</div>
                    <div id='bleDisConnect' tabindex='20' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="bleDisConnect()">断开连接</div>
                    <div id='StopScanBlu' tabindex='21' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="bleStopConn()">连接状态</div>
                    <div id='ConnectedDeviceId' tabindex='22' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getConnectedDeviceIds()">已连接设备</div>
                    <div id='unbindBle' tabindex='23' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="getbindDevice()">解绑设备</div>
                    <div style="float:left;width:95%;">
                        <input class='wdbll4' type ="text" id="texts" name="texts" value ="" style="width:60%;height:35px"></input>
                        <div id='SendText' tabindex='8' class='weui_btn login-btn weui_btn_primary wdbll4' onclick="encrySendData()">发送数据</div>
                    </div>
                    <div class="debugging">
                        <h2>调试信息<input id="clears" type="button" value="清空打印" onclick="LogClear()" class="btns"/></h2>
                        <div class="show showbug" id="TxtDebug" style="display:block;word-break:break-all;">
                            <p><label id="initBle"></label></p>
                        </div>
                        <div class="show showbug" id="TxtDebugs" style="display:none;word-break:break-all;">
                            <p><label id="initBles"></label></p>
                        </div>
                    </div>
                    <!-- <div class="debugging">
                        <h2>调试信息<input id="clears" type="button" value="清空打印" onclick="LogClear()" class="btns"/></h2>
                        <div class="show showbug" id="TxtDebug" style="display:block">
                            <p><label id="initBle"></label></p>
                        </div>
                        <div class="show showbug" id="TxtDebugs" style="display:none">
                            <p><label id="initBles"></label></p>
                        </div>
                    </div> -->
                    <!-- <div id="initBle"></div> -->
                    <!-- <div class="debugging">
                        <h2>调试信息<input id="clears" type="button" value="清空打印" onclick="LogClear()" class="btns"/></h2>
                        <div class="show showbug" id="TxtDebug">
                            <p><label id="initBle"></label></p>
                        </div>
                    </div> -->
                    <!-- <div>
                        <h2>设备<a>(点击进行绑定)</a></h2>
                        <p><label id="Device"></label></p>
                    </div>
                    <p><label id="DeviceId"></label></p> -->
                </div>

                <!--固话绑定END-->

            </div>
        </div>
        <p id="OpenId" style="display:none"></p>
        <p id="connecteddevice" style="display:none"></p>
        <p id="unbindsuccess" style="display:none"></p>
    </div>
</div>
<script>
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.my-pagination-ul',
        paginationClickable: true,
        paginationBulletRender: function (index, className) {
            switch (index) {
                case 0: name='连接设备';break;
                case 1: name='功能菜单';break;
                default: name='';
            }
            return '<li class="' + className + '">' + name + '</li>';
        }
    });

    function strToJson(str){
        var json = eval('(' + str + ')');
        return json;
    }
    //获取动态tickt数据
    function getTicktData(){
		var url=location.href.split('#')[0];
		var str={};
		jQuery.ajax({
			url:'initJsApi',
			async:false,
			data:{'url':encodeURIComponent(url)},
			success:function(res){
				if(res.code=='000000'){
					str=res.data;
				}
			}
		});
		return str;
	}
    var httpurl = "http://119.29.162.110:1345"
    var smit = null;
    var smitPosSdkWx = null;
    var openid = null;
    $(document).ready(function() {
        $("#initBle").append("<p>http jswei混淆版本2.1.0</p>");
        smitPosSdkWx = new SmitPosSdkWx(0x00);
        init();
    });
    function init(){
        var typeWx = 0x04; //微信公众号
        var company = 0x00; //客户代号:0x0E :新疆电信
        var autoType = 1; // 认证类型，00：自动认真，1：手动认证
        var url = window.location.search;
        smit = new Smit(typeWx,company,autoType);
        var str=getTicktData();
        str.user_name='gh_05fc6bc0923c';
        console.log(JSON.stringify(str));
        OpenId = str.openId;
          document.getElementById('OpenId').innerHTML = openid;

          smit.start(str,function(msg){
              $("#initBle").append("<p>device and wx init:" + JSON.stringify(msg) + "</p>");
              var msgObj = JSON.parse(msg);
              if(strToJson(msg).bluetoothState == "off"){
                  alert("请先打开蓝牙！");
              }
              if (msgObj.eventType === 'init') {
                  if (msgObj.status === '0') {
                      smitLogPrintWx('初始化成功');
                  } else {
                      smitLogPrintWx('初始化失败');
                  }
              }

              if (msgObj.eventType === 'onWXDeviceBluetoothStateChange' && msgObj.status ==='0') {
                  //"{\"deviceInfo\":\"disconnected\",\"deviceId\":\"\",\"status\":\"0\",\"eventType\":\"onWXDeviceBluetoothStateChange\",\"bluetoothState\":\"off\"}"
                  if (msgObj.bluetoothState ==='on') {
                      smitLogPrintWx('蓝牙打开');
                  } else {
                      smitLogPrintWx('蓝牙关闭');
                  }
              }

              if (msgObj.eventType === 'onWXDeviceStateChange' && msgObj.status === '0') {
                  //"{\"deviceInfo\":\"disconnected\",\"deviceId\":\"\",\"status\":\"0\",\"eventType\":\"onWXDeviceBluetoothStateChange\",\"bluetoothState\":\"off\"}"
                  if (msgObj.deviceInfo ==='connected') {
                      smitLogPrintWx(msgObj.deviceId+'设备连接');
                  } else {
                      smitLogPrintWx(msgObj.deviceId+'设备断开');
                  }
              }
              getConnectedDeviceId();
          }.bind(this));
     
//            var str = sign(location.href);
//            smit.start(str,function(msg){
//          //      alert('123  ' + JSON.stringify(msg))
//                smit.getDevices(function (devices) {
//                    alert(str.openId + '123  ' + JSON.stringify(devices) )
//                })
//            });
    }
    /*
     function init(){
     var typeWx = 0x04; //微信公众号
     var company = 0x00; //客户代号
     var autoType = 0x01; // 认证类型，00：自动认真，1：手动认证
     smit = new Smit(typeWx,company,autoType);
     var url = "/SmitPayWechat/getSignature";
     var Code = GetQueryString("code");
     var args = {"url":window.location.href,"code":Code,"time":new Date()};
     $.post(url,args,function(data){
     if(data != ""){
     completeLoading(0);
     var OpenId = data;
     OpenId = OpenId.substr(OpenId.indexOf('@')+1,OpenId.length+1);
     OpenId = OpenId.substr(OpenId.indexOf('@')+1,OpenId.length+1);
     OpenId = OpenId.substr(OpenId.indexOf('@')+1,OpenId.length+1);
     OpenId = OpenId.substr(OpenId.indexOf('@')+1,OpenId.length+1);
     document.getElementById('OpenId').innerHTML = OpenId;
     openid = OpenId;
     alert(1);
     smit.start(data,function(msg){
     $("#initBle").append("<p>data:" + data + "</p>");
     $("#initBle").append("<p>device and wx init:" + JSON.stringify(msg) + "</p>");
     var msgObj = JSON.parse(msg);
     if(strToJson(msg).bluetoothState == "off"){
     alert("请先打开蓝牙！");
     }
     if (msgObj.eventType === 'init') {
     if (msgObj.status === '0') {
     smitLogPrintWx('初始化成功');
     } else {
     smitLogPrintWx('初始化失败');
     }
     }

     if (msgObj.eventType === 'onWXDeviceBluetoothStateChange' && msgObj.status ==='0') {
     //"{\"deviceInfo\":\"disconnected\",\"deviceId\":\"\",\"status\":\"0\",\"eventType\":\"onWXDeviceBluetoothStateChange\",\"bluetoothState\":\"off\"}"
     if (msgObj.bluetoothState ==='on') {
     smitLogPrintWx('蓝牙打开');
     } else {
     smitLogPrintWx('蓝牙关闭');
     }
     }

     if (msgObj.eventType === 'onWXDeviceStateChange' && msgObj.status === '0') {
     //"{\"deviceInfo\":\"disconnected\",\"deviceId\":\"\",\"status\":\"0\",\"eventType\":\"onWXDeviceBluetoothStateChange\",\"bluetoothState\":\"off\"}"
     if (msgObj.deviceInfo ==='connected') {
     smitLogPrintWx(msgObj.deviceId+'设备连接');
     } else {
     smitLogPrintWx(msgObj.deviceId+'设备断开');
     }
     }
     getConnectedDeviceId();
     });
     }
     });
     //		smit = new Smit();
     }*/

    function Wxinit(){
        init();
    }
    var deviceSn = ''; // sn
    var random = ''; // 随机数
    //读取设备信息
    function getDeviceInfo(){
        smit.exec(smit.MSG_TYPE_MPOS_DEVICE_INFO,null,function(msg){
            $("#initBle").append("<p>get device info:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                deviceSn = msgJson.device_sn;
            }
        }.bind(this));
    }
    //获取随机数
    function getRandom(){
        // 获取8位的随机数
        var RandomJson = "{\"num\":8}";
        smit.exec(smit.MSG_TYPE_MPOS_GET_RAND,RandomJson,function(msg){
            $("#initBle").append("<p>get random:" + msg + "</p>");
            random = JSON.parse(msg).random;
        }.bind(this));
    }
    //外部认证
    function externalAuth(){
        var externalAuth = {};
        // 使用externalAuthWithSn方法加密随机数后的数据，后台加密
        var paramJson = {};
        paramJson.sn = deviceSn;
        paramJson.random = random;
        paramJson.key = '1122334455667788aa22334455667788';
        smitLogPrintWx('smit='+smit+'paramJson='+JSON.stringify(paramJson));
        var encryptData = smit.xlbExternalAuth(JSON.stringify(paramJson));

        smitLogPrintWx('encryptData='+encryptData);
        externalAuth.encrypt_data = encryptData;
        smit.exec(smit.MSG_TYPE_MPOS_EXTERNAL_AUTH,JSON.stringify(externalAuth),function(msg){
            $("#initBle").append("<p>get external auth:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('外部认证成功');
            } else {
                smitLogPrintWx('外部认证失败');
            }
        });
    }

    //设备认证
    function deviceAuth(){
        //设备认证
        var DeviceAuthJson ={};
        // 获取随机数指令获取的随机数
        DeviceAuthJson.random = random;// "{\"random_num\":\""+obj.random+"\",\"device_sn\":\"24cf21c00094\"}";

        $("#initBle").append("<p>get device auth:" + JSON.stringify(DeviceAuthJson) + "</p>");

        smit.exec(smit.MSG_TYPE_MPOS_DEVICE_AUTH,JSON.stringify(DeviceAuthJson),function(msg){
            $("#initBle").append("<p>get device auth:" + msg + "</p>");
            var encryptData = JSON.parse(msg).encrypt_data;
            var paramJson = {};
            paramJson.encrypt = encryptData;
            paramJson.sn = deviceSn;
            paramJson.random = random;
            paramJson.key = '1122334455667788bb22334455667788';
            smitLogPrintWx('paramJson='+JSON.stringify(paramJson));
            var result = smit.xlbDeviceAuth(JSON.stringify(paramJson));
            smitLogPrintWx('result='+result);
            if (result === 0) {
                smitLogPrintWx('设备认证成功');
            } else {
                smitLogPrintWx('设备认证失败');
            }
        }.bind(this));
    }
    var _tsk = '';
    //getTSK
    function getTsk(){
        var getTsk = {};
        getTsk.pub_key = '4A233C40D189C8226B0CA292C785F169E2E71F241B323C3C2D53F2FBBCD5C4216681F49032437F2FA4517912B2010F19430CB60B5136FC4BC7FC0827D961F3256CDBC883D338A13748E8E583B2AC43E8E0DB3A2A44FAA1B70A531AEC79E6F7658DDB1A44F57BAB45FF3EA59482B9948A48BE313FD8662D6EC50A44AAB1984671';
        $("#initBle").append("<p>_tsk:" + JSON.stringify(getTsk) + "</p>");
        smit.exec(smit.MSG_TYPE_GET_TSK,JSON.stringify(getTsk),function(msg){
            $("#initBle").append("<p>get tsk:" + msg + "</p>");
            var tskbackJson = JSON.parse(msg);
            // tskbackJson.encrypt_tsk 这里得到了tsk的密文，需要使用公私钥解出明文的tsk
            // getTskWithPubkey and prikey
            // _tsk = 解密后的明文 例如：a6db4a14d6e071aa48f163a941f3b06f
            var pri_key = '10E9BEEA2EA35723FAF5F3F4B64DE94835BA7251435F0F7CCEFE72D5593C0F356B74443DCD29B6CF4096519FA13A3A9E91BC499F85549CF410D87F67CFE0D79E37AB81FB9290611F3D42E5C5934CB7C85CBA4B59F22E8771352DC60EBC05D2D920DC02FDFB98F4E338C9378BF4A829ADAA1CC7DD7BD0AFB928587705AA97ABFD';
            var pub_key = '4A233C40D189C8226B0CA292C785F169E2E71F241B323C3C2D53F2FBBCD5C4216681F49032437F2FA4517912B2010F19430CB60B5136FC4BC7FC0827D961F3256CDBC883D338A13748E8E583B2AC43E8E0DB3A2A44FAA1B70A531AEC79E6F7658DDB1A44F57BAB45FF3EA59482B9948A48BE313FD8662D6EC50A44AAB1984671';
            _tsk = smit.xlbGetTsk(tskbackJson.encrypt_tsk, pub_key, pri_key);
            smitLogPrintWx('_tsk='+_tsk);

        }.bind(this));
    }
    var card_type = null; // 01:442卡， 02:102卡
    // 开卡，自动识别102， 442卡：cardtype 01:442卡， 02:102卡
    /*	function openGasCard(){
     var paramJson = {};
     paramJson.timeout = 10;
     smit.exec(smit.MSG_TYPE_XLCARD_OPEN_GAS_CARD,JSON.stringify(paramJson),function(msg){
     $("#initBle").append("<p>open GasCard:" + msg + "</p>");
     var msgJson = JSON.parse(msg);
     if (msgJson.status === '00') {
     if (msgJson.card_type === '01') {
     card_type = 1;
     smitLogPrintWx('442卡');
     } else if (msgJson.card_type === '02') {
     card_type = 2;
     smitLogPrintWx('102卡');
     }
     }

     }.bind(this));
     }*/

    // 卡检测 （用于102卡，442卡卡检测）
    function cardCheck(){
        smit.exec(smit.MSG_TYPE_XLCARD_DETECT_GAS_CARD,null,function(msg){
            $("#initBle").append("<p>card check:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                if (msgJson.inserted === 1) {
                    smitLogPrintWx('已插卡');
                } else if (msgJson.inserted === 0) {
                    smitLogPrintWx('未插卡');
                }
            }

        }.bind(this));
    }
    // 设置燃气卡类型442卡
    function gasCardSetType442(){
        var gasSetType = {};
        gasSetType.card_type = 16;
        smit.exec(smit.MSG_TYPE_EX_IC_SET_TYPE,JSON.stringify(gasSetType),function(msg){
            $("#initBle").append("<p>set card Type:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('设置442卡类型成功');
                card_type = 1;
            }
        }.bind(this));
    }
    // 设置102卡类型
    function gasCardSetType102(){
        var gasSetType = {};
        gasSetType.card_type = 17;
        smit.exec(smit.MSG_TYPE_EX_IC_SET_TYPE,JSON.stringify(gasSetType),function(msg){
            $("#initBle").append("<p>set card Type:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('设置102卡类型成功');
                card_type = 2;
            }
        }.bind(this));
    }
    // 密码校验
    function gasCardCheckPwd(){
        var params = {};
        var password = null;
        if (card_type === 1) { // 442
            password = 'FFFFFF';
        } else if (card_type === 2) {
            password = 'F0F0FF';
        };
        // 密码使用TSK加密密文密码，再下发
        var encryptParams = {};
        encryptParams.data = password;
        encryptParams.key = _tsk;
        params.data = smit.encryptWithKey(JSON.stringify(encryptParams)); // 用TSK加密下发的密码密文
        smit.exec(smit.MSG_TYPE_XLCARD_VERIFY_GAS_CARD,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>password check:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('密码校验成功');
            } else if (msgJson.status === '02') {
                smitLogPrintWx('废卡');
            } else {
                smitLogPrintWx('密码校验失败');
            }

        }.bind(this));
    }
    // 读燃气卡
    function gasCardRead(){
        var area="30"; //30区域 // 442卡才有区域直说，此参数102卡填默认参数30即可
        var pos = '00';//00 位置(16进制表示)偏移
        var len = 'ff';// 数据长度--255  102卡数据最大长度178
        if (card_type === 2) {// 102卡操作
            len = 'B2'
        };

        var data = area+pos+len;

        smitLogPrintWx('data='+data);
        var params = {};
        // 使用tsk加密data （area+pos+len）
        var encryptParams = {};
        encryptParams.data = data;
        encryptParams.key = _tsk;

        params.data = smit.encryptWithKey(JSON.stringify(encryptParams)); // 用TSK加密下发的密码密文;
        smit.exec(smit.MSG_TYPE_XLCARD_READ_GAS_CARD,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>read Gas card:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                var encryptData = msgJson.data;
                var backParams = {};
                backParams.data = encryptData;
                backParams.key = _tsk;
                // 使用tsk解密读取出来的数据，得到明文数据
                var plainData = smit.decryptWithKey(JSON.stringify(backParams));
                smitLogPrintWx('读燃气卡成功');
                smitLogPrintWx('读燃气卡数据data='+plainData);

            } else if (msgJson.status === '59'){
                smitLogPrintWx('卡片被移除');
            }
        }.bind(this));
    }
    // 写燃气卡
    function gasCardWrite(){
        var params = {};
        switch(card_type) {
            case 0:
                break;
            case 1: //442
            {
                var area="30"; // 442卡才有区域直说，此参数102卡填默认参数30即可
                var pos='00';  //00 位置(16进制表示)偏移
                var password="FFFFFF";
                var d="8122e33000A3a2131091ffff8115423030323630";
                var l=(d.length/2);
                var len= l.toString(16);
                var d1= password+area+pos+len+d;//[NSString stringWithFormat:@"%@%@%@%@%@",password,area,pos,len,d];

                var encryptParams = {};
                encryptParams.data = d1;
                encryptParams.key = _tsk;

                params.data = smit.encryptWithKey(JSON.stringify(encryptParams)); // 用TSK加密下发的密码密文;
            }
                break;
            case 2: // 102卡
            {
                var area="30"; // 442卡才有区域直说，此参数102卡填默认参数30即可
                var pos='B0';  //00 位置(16进制表示)偏移  176:102卡的测试区
                var password="F0F0FF";
                var d="8122";
                var l=(d.length/2);
                var len= l.toString(16);
                var d1= password+area+pos+len+d;//[NSString stringWithFormat:@"%@%@%@%@%@",password,area,pos,len,d];

                var encryptParams = {};
                encryptParams.data = d1;
                encryptParams.key = _tsk;

                params.data = smit.encryptWithKey(JSON.stringify(encryptParams)); // 用TSK加密下发的密码密文;
            }
                break;
            default:
                break;

        }
        smit.exec(smit.MSG_TYPE_XLCARD_WRITE_GAS_CARD,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>gasCardWrite:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('写卡成功');
            }
        }.bind(this));
    }
    // 检测电卡
    function elecCardCheck(){
        smit.exec(smit.MSG_TYPE_EX_IC_CHECK,null,function(msg){
            $("#initBle").append("<p>elecCardCheck:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                if (msgJson.card_status_1 === '01') {
                    smitLogPrintWx('已插卡');
                } else if (msgJson.card_status_1 === '02') {
                    smitLogPrintWx('已插卡且上电');
                }  else if (msgJson.card_status_1 === '00') {
                    smitLogPrintWx('未插卡');
                }
            }
        }.bind(this));
    }
    // 设置电卡类型
    function elecCardSetType(){
        var params = {};
        params.card_type = 0;
        smit.exec(smit.MSG_TYPE_EX_IC_SET_TYPE,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>elecCardSetType:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('设置电卡类型成功');
            }
        }.bind(this));
    }
    // 电卡上电
    function elecCardPoweron(){
        var params = {};
        params.card_type = 0;
        smit.exec(smit.MSG_TYPE_EX_IC_POWER_ON,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>elecCardPoweron:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('设置电卡类型成功');
            }
        }.bind(this));
    }
    // 电卡通讯
    function elecCardComunication(){
        var params = {};
        params.card_type = 0;
        params.data = "00B09F0580";
        smit.exec(smit.MSG_TYPE_EX_IC_COMMUNICATION,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>elecCardComunication:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('电卡通讯成功');
            }
        }.bind(this));
    }
    // 电卡下电
    function elecCardPoweroff(){
        var params = {};
        params.card_type = 0;
        smit.exec(smit.MSG_TYPE_EX_IC_POWER_OFF,JSON.stringify(params),function(msg){
            $("#initBle").append("<p>elecCardPoweroff:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('电卡下电成功');
            }
        }.bind(this));
    }
    //读取固件信息
    function getFirmwareInfo(){
        smit.exec(smit.MSG_TYPE_GET_FIRMWARE_INFO,null,function(msg){
            $("#initBle").append("<p>get firmware info:" + msg + "</p>");
            var msgJson = JSON.parse(msg);
            if (msgJson.status === '00') {
                smitLogPrintWx('读取固件信息成功');
            }
        }.bind(this));
    }

    /* function getUpdateMainKey(){
     smit.exec(smit.MSG_TYPE_UPDATE_MAIN_KEY,null,function(msg){
     $("#initBle").append("<p>get firmware info:" + msg + "</p>");
     });
     } */


    //获取设备信息（微信公众号绑定设备的信息）
    function getConnectedDeviceId() {
        OpenId = document.getElementById('OpenId').innerHTML;
        smitPosSdkWx.getDevices(function(msg){
            if(msg.deviceInfos.length > 1){
                for(var i=0;i<msg.deviceInfos.length;i++){
                    if(msg.deviceInfos[i].state == "disconnected"){
                        unbindBle(msg.deviceInfos[i].deviceId,OpenId);
                    }
                }
                window.setTimeout(getConnectedDeviceId,2000);
            }

            for(var i=0;i<msg.deviceInfos.length;i++){
                if(msg.deviceInfos[i].state == "connected"){
                    document.getElementById('connectedsuccess').innerHTML = "";
                    document.getElementById('connecteddevice').innerHTML = msg.deviceInfos[i].deviceId;
                    $("#connectedsuccess").append( "<p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+msg.deviceInfos[i].deviceId+"<span style=\"float:right\">已连接</span></p>");
                    document.getElementById('msg.deviceInfos[i].deviceId').innerHTML = "已连接";
                }else{
                    document.getElementById('connecteddevice').innerHTML = "";
                    document.getElementById('connectedsuccess').innerHTML = "";
                    $("#connectedsuccess").append( "<p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+msg.deviceInfos[i].deviceId+"<span style=\"float:right\">未连接</span></p>");
                }
            }
        });
    }

    //获取设备信息
    function getConnectedDeviceIds() {
        smitPosSdkWx.getDevices(function(msg){
            $("#initBle").append("<p>send msg:" + JSON.stringify(msg) + "</p>");
        });
    }

    var readFlashJson ={};
    readFlashJson.addr = 0x0001E000;
    readFlashJson.len = 0x00000008;


    //发送text指令
    function encrySendData() {
        var data = document.getElementById("texts").value;
        $("#initBle").append( "<p>发送的数据： " + data + "</p>");
//		bleManage.bleInit_sendData('24cf21c00092',encrydata);
        smitPosSdkWx.sendMsg(data,function(msg){
            $("#initBle").append("<p>send msg:" + msg + "</p>");
        });
    }

    function LogClear() {
        document.getElementById('initBle').innerHTML = "";
    }

    //扫描蓝牙
    function ScanBlu(){
        smit.scan(function(msg){
            $("#initBle").append("<p>scan blu:" + JSON.stringify(msg) + JSON.stringify(msg).length + "</p>");
            if(msg.length == 12){
                var macid = msg;
                $("#Device").append(
                    "<button class=\"weui_btn login-btn weui_btn_primary wdbll3\" style=\"float:left\" onclick=\"bleConn('" + macid
                    + "')\">" + "连接" + macid + "</button>");
                $("#Device").append(
                    "<button class=\"weui_btn login-btn weui_btn_primary wdbll3 bind\" style=\"float:right\" onclick=\"bindBle('" +

                    macid + "','" + openid + "')\">" + "绑定并连接" + macid + "</button>");
            }else if(msg.length == 20){
                var macid = msg;
                $("#Device").append(
                    "<button class=\"weui_btn login-btn weui_btn_primary wdbll3\" style=\"float:left\" onclick=\"bleConn('" + macid
                    + "')\">" + "连接" + macid + "</button>");
                $("#Device").append(
                    "<button class=\"weui_btn login-btn weui_btn_primary wdbll3 bind\" style=\"float:right\" onclick=\"bindBle('" +

                    macid + "','" + OpenId + "')\">" + "绑定并连接" + macid + "</button>");
            }
        });
    }

    //扫描蓝牙
    function ScanBlus(){
        smitPosSdkWx.blestate(function(msg){
            if(msg == "off"){
                alert("请先打开蓝牙！");
            }else{
                document.getElementById('connectmodel').innerHTML = "";
                smit.scan(function(msg) {
                    document.getElementById('connectmodel').innerHTML = '';
                    //var macid = "";
                    //var OpenId = "";
                    /*if(msg.length == 40){
                     var macid = msg.substring(0,12);
                     var OpenId = msg.substring(12);
                     }else if(msg.length == 48){
                     var macid = msg.substring(0,20);
                     var OpenId = msg.substring(20);
                     }

                     if(msg.length == 40 || msg.length == 48){
                     if(document.getElementById('connecteddevice').innerHTML == ""){
                     $("#connectmodel").append( "<li> <p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+macid+"<span id="+macid+" class=\"sp_btn\"  onclick=\"bindBle('" +
                     macid + "','" + OpenId + "')\">连接</span></p> </li>");
                     }else if(document.getElementById('connecteddevice').innerHTML == macid){
                     $("#connectmodel").append( "<li> <p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+macid+"<span id="+macid+" class=\"sp_btn\">已连接</span></p> </li>");
                     }
                     }*/

                   if (document.getElementById('connecteddevice').innerHTML == "") {
                       $("#connectmodel").append("<li> <p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>" + msg + "<span id=" + msg + " class=\"sp_btn\"  onclick=\"bindBle('" +
                           msg + "','" + openid + "')\">连接</span></p> </li>");
                   } else if (document.getElementById('connecteddevice').innerHTML == macid) {
                       $("#connectmodel").append("<li> <p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>" + msg + "<span id=" + msg + " class=\"sp_btn\">已连接</span></p> </li>");
                   }

                });
                SetTime();
            }
        });
    }

    //断开连接
    function bleDisConnect(){
        var deviceid = '001100000061'; // 微信公众号授权设备时，定义的deviceID
        smit.disconnect(deviceid,function(msg){
            $("#initBle").append("<p>connect blu:" + msg + "</p>");
        });
    }

    //连接蓝牙
    function bleConn(deviceid){
        smit.connect(deviceid,function(msg){
            $("#initBle").append("<p>connect blu:" + msg + "</p>");
        });
    }

    // 获取蓝牙的状态
    function getBlestate(){
        /* smit.stopScan(function(msg){
         $("#initBle").append("<p>stop scan blu:" + msg + "</p>");
         }); */
        smitPosSdkWx.blestate(function(msg){
            $("#initBle").append("<p>get blestate:" + msg + "</p>");
        });
//   		smitPosSdkWx.blestate(function(msg){
//			$("#initBle").append("<p>get connected11111111:" + msg + "</p>");
//   		});
    }

    //
    function bleStopConn(){
        /* var data = document.getElementById('DeviceId').innerHTML;
         if(data.length > 0){
         smit.disconnect(data,function(msg){
         $("#initBle").append("<p>disconnect blu:" + msg + "</p>");
         });
         }else{
         $("#initBle").append("<p>not connect blu:</p>");
         }
         document.getElementById('Device').innerHTML = ""; */
//   		alert(smitPosSdkWx.connectstate);
//		smitPosSdkWx.getconnected();
        smitPosSdkWx.getconnected(function(msg){
            $("#initBle").append("<p>get connected11111111:" + msg + "</p>");
        });
    }

    //绑定设备
    function bindBle(deviceid,openid) {
        getbindDevice();
        //先去后台验证一下当前用户的openid有效
        $(function(){
            //var url = "/SmitPayWechat/bindDevice";
            //var args = {"openid":openid,"deviceid":deviceid,"isBind":"0","time":new Date()};
            var url = "/SmitPayWechat/bindDevice";
            var args = {"url":httpurl,openid:openid,deviceid:deviceid,isBind:"0","time":new Date()};
            $.post(url,args,function(data){
                if(data != ""){
                    $("#initBle").append("<p>bind       :" + data + "</p>");
                    var dataJson = JSON.parse(data);
                    var base_resp = dataJson.base_resp;

                    if (base_resp.errcode === 0 && base_resp.errmsg === 'ok'){
                        $("#initBle").append("<p>设备：" + deviceid + "已绑定成功，正在连接</p>");
                        document.getElementById('connectedsuccess').innerHTML = "";
                        $("#connectedsuccess").append( "<p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+deviceid+"<span style=\"float:right\">已绑定</span></p>");

                    }
                }
            });
        });
    }

    //获取设备信息
    function getbindDevice() {
        //OpenId = document.getElementById('OpenId').innerHTML;
        smitPosSdkWx.getDevices(function(msg){
            $("#initBle").append("<p>send msg getbindDevice:" + JSON.stringify(msg) + "</p>");
            $("#initBle").append("<p>-------开始解绑设备----OpenId--" + OpenId+ "</p>");
            //smitLogPrintWx('-------开始解绑设备------'+msg.deviceInfos.length+';'+msg);
            var msgJson = JSON.parse(msg);
            if(msgJson.deviceInfos.length > 0){
                for(var i=0;i<msgJson.deviceInfos.length;i++){

                    smitLogPrintWx('-------开始解绑设备------');
                    unbindBle(msgJson.deviceInfos[i].deviceId,OpenId);
                }
            }
        }.bind(this));
    }

    //解绑设备
    function unbindBle(deviceid,openid) {
        //先去后台验证一下当前用户的openid有效
        $(function(){
            //var url = "/SmitPayWechat/bindDevice";
            //var args = {"openid":openid,"deviceid":deviceid,"isBind":"1","time":new Date()};
            var url = "/SmitPayWechat/bindDevice";
            var args = {"url":httpurl,openid:openid,deviceid:deviceid,isBind:"1","time":new Date()};
            $.post(url,args,function(data){
                if(data != ""){
                    $("#initBle").append("<p>bind       :" + data + "</p>");
                    var dataJson = JSON.parse(data);
                    var base_resp = dataJson.base_resp;

                    if (base_resp.errcode === 0 && base_resp.errmsg === 'ok'){
                        $("#initBle").append("<p>设备：" + deviceid + "已解绑成功</p>");
                        //					window.setTimeout(getConnectedDeviceId,3000);
                        $("#unbindsuccess").append("<li> <p class=\"p_input p_input_yzm\"><em class=\"fa fa-envelope\"></em>"+deviceid+"<span style=\"float:right;\">解绑成功</span></p></li>");
                    }
                }
            });
        });
    }

    function smitLogPrintWx(data){
        $("#initBle").append("<p>"+data+"</p>");
    }

    setInterval(function(){
        var TxtDebug = document.getElementById('TxtDebug');
        var TxtDebugs = document.getElementById('TxtDebugs');
        TxtDebug.style.display='block';

        var initBle = document.getElementById('initBle').innerHTML;
        var initBles = document.getElementById('initBles').innerHTML;
        if(initBle != initBles){
            TxtDebug.scrollTop=TxtDebug.scrollHeight;
            document.getElementById('initBles').innerHTML = initBle;
        }
    },1000);

    var wait=10;
    function SetTime() {
        if (wait == 0) {
            document.getElementById('scanbtn').innerHTML="<a onclick=\"ScanBlus()\" class=\"c_4\">扫描</a>";
            wait = 10;
        }
        else {
            document.getElementById('scanbtn').innerHTML="<a style=\"background:#BCBCBC;\">"+wait+"秒后可以重新扫描</a>";
            wait--;
            setTimeout(function() {
                SetTime();
            },1000);
        };
    }


</script>



</body>

</html>