<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>成都秦川便民充值宝</title>

<meta name="description" content="User index">
<meta name="keywords" content="User index">

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- styles -->
<link rel="stylesheet" href="/css/pay/buzhou.css">

</head>
<body>
<!--
 
 * 17素材vip建站专区模块代码
 * 详尽信息请看官网：http://www.17sucai.com/pins/vip
 *
 * Copyright , 温州易站网络科技有限公司版权所有
 *
 * 请尊重原创，未经允许请勿转载。
 * 在保留版权的前提下可应用于个人或商业用途
 
-->
	<section class="procedure">
		<h2>服务流程</h2>
		<p class="note">
			根据多年的工作经验，我们已经整合出了我们的有效业务流程，一个具体的目标：得到结果。我们关心了解您和您的客户，创造经验，提供服务.
		</p>
		<ul>
			<li class="item-1"><strong>发布需求</strong>
			<p>
				初步需求，签订合作协议
			</p>
			</li>
			<li class="item-2"><strong>明确需求</strong>
			<p>
				顾问回访，明确需求内容
			</p>
			</li>
			<li class="item-3"><strong>订单落地</strong>
			<p>
				设计管家智能匹配设区网<br>
				多位设计师
			</p>
			</li>
			<li class="item-4"><strong>方案“轻PK”</strong>
			<p>
				多位设计师递交初稿<br>
				经筛选，呈现给用户优选方案
			</p>
			</li>
			<li class="item-5"><strong>深度设计</strong>
			<p>
				按您的需求，优选方案深度<br>
				修改满意为止
			</p>
			</li>
			<li class="item-6"><strong>项目验收</strong>
			<p>
				接收设计结果<br>
				对设计师、设计管家进行满意度评价
			</p>
			</li>
		</ul>
	</section>

</body>
</html>