<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>我的订单</title>
<link rel="stylesheet" href="/css/pay/main.css"></link>
</head>
<body style="background-color:#f1f1f1;">
	<header class="aui-navBar aui-navBar-fixed">
<!-- 		<a href="javascript:;" onclick="window.history.back(-1)"
			class="aui-navBar-item"> <i class="icon icon-return"></i>
		</a> -->
		<div class="aui-center">
			<span class="aui-center-title">我的订单</span>
		</div>
	</header>
	<!-- 订单页  -->
	<div class="order_main" th:each="order : ${orders}" >
		<div class="top"  >
			<img  th:src="${headurl}"/>
			<label th:text="${order.payUser}" class="la_name">Daisy</label>
			<label class="la_state" th:text="${order.orderStateToSts}">已完成</label>
		</div>
		<hr style="border: 1px solid #f0f0f0;"/>
		<ul class="bottom" >
				<li class="hui"><label th:text="${order.orderNo}">QC20184646546</label></li>
				<li class="blue"><label th:text="${order.createTimeToSts}" >2018/8/2 14:32:24</label></li>
				<li class="ju"><label th:text="${order.orderRemark}">充值燃气费</label> <p style="float: right;margin-right: 20px;"><label class="_price" th:text="${order.priceToSts}">100</label><label style="font-size:10px">元</label></p></li>
		</ul>
	</div>


</body>
</html>