<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.pack.dao.StudentInfoDao">

	<select id="get" resultType="com.admin.pack.domain.StudentInfoDO">
		select id,name,card_no,telephone,school_id,dorm_id,is_wb,is_success,user_id,create_time,is_pay,wb_is_success,is_protocol from p_student_info where id = #{value}
	</select>

	<select id="list" resultType="java.util.HashMap">
		SELECT
		a.id as id,
		a.NAME as name,
		a.card_no as cardNo,
		a.telephone as telephone,
		a.school_id as schoolId,
		a.dorm_id as dormId,
		a.is_wb as isWb,
		a.is_success as isSuccess,
		a.user_id as userId,
		a.create_time as createTime,
		a.wb_is_success as wbIsSuccess,
		a.is_protocol as isProtocol,
		a.is_pay as isPay,
		b.name  as schoolName
		FROM
		p_student_info a
		LEFT JOIN sys_dept b
		ON
		a.school_id = b.dept_id
        <where>  
			<if test="id != null and id != ''"> and a.id = #{id} </if>
			<if test="name != null and name != ''"> and a.name  like CONCAT('%',#{name},'%')</if>
			<if test="cardNo != null and cardNo != ''"> and a.card_no = #{cardNo} </if>
			<if test="telephone != null and telephone != ''"> and a.telephone = #{telephone} </if>
			<if test="schoolId != null and schoolId != ''"> and a.school_id = #{schoolId} </if>
			<if test="dormId != null and dormId != ''"> and a.dorm_id = #{dormId} </if>
			<if test="isWb != null and isWb != ''"> and a.is_wb = #{isWb} </if>
			<if test="isProtocol != null and isProtocol != ''"> and a.is_protocol = #{isProtocol} </if>
			<if test="wbIsSuccess != null and wbIsSuccess != ''"> and a.wb_is_success = #{wbIsSuccess} </if>
			<if test="isSuccess != null and isSuccess != ''"> and a.is_success = #{isSuccess} </if>
			<if test="userId != null and userId != ''"> and a.user_id = #{userId} </if>
			<if test="beginTime != null and beginTime != ''">
				and a.create_time &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and a.create_time &lt;= #{endTime}
			</if>
			<if test="isPay != null and isPay != ''"> and a.is_pay = #{isPay} </if>
			<if test="userIds != null"> and a.user_id in
				<foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from p_student_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="cardNo != null and cardNo != ''"> and card_no = #{cardNo} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="schoolId != null and schoolId != ''"> and school_id = #{schoolId} </if>
		  		  <if test="dormId != null and dormId != ''"> and dorm_id = #{dormId} </if>
		  		  <if test="isWb != null and isWb != ''"> and is_wb = #{isWb} </if>
			 <if test="isProtocol != null and isProtocol != ''"> and is_protocol = #{isProtocol} </if>
			 		<if test="wbIsSuccess != null and wbIsSuccess != ''"> and wb_is_success = #{wbIsSuccess} </if>
		  		  <if test="isSuccess != null and isSuccess != ''"> and is_success = #{isSuccess} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
				 <if test="beginTime != null and beginTime != ''">
					 and create_time &gt;= #{beginTime}
				 </if>
				 <if test="endTime != null and endTime != ''">
					 and create_time &lt;= #{endTime}
				 </if>
				 <if test="isPay != null and isPay != ''"> and is_pay = #{isPay} </if>
				 <if test="userIds != null"> and user_id in
					 <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
						 #{item}
					 </foreach>
				 </if>
		 </where>
	</select>
	 
	<insert id="save" parameterType="com.admin.pack.domain.StudentInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into p_student_info
		(
			name, 
			card_no, 
			telephone, 
			school_id, 
			dorm_id, 
			is_wb, 
			is_success, 
			user_id, 
			create_time,
			is_pay,
			wb_is_success,
			is_protocol
		)
		values
		(
			#{name}, 
			#{cardNo}, 
			#{telephone}, 
			#{schoolId}, 
			#{dormId}, 
			#{isWb}, 
			#{isSuccess}, 
			#{userId}, 
			#{createTime},
			#{isPay},
			#{wbIsSuccess},
			#{isProtocol}
		)
	</insert>
	 
	<update id="update" parameterType="com.admin.pack.domain.StudentInfoDO">
		update p_student_info 
		<set>
			<if test="name != null">name = #{name}, </if>
			<if test="cardNo != null">card_no = #{cardNo}, </if>
			<if test="telephone != null">telephone = #{telephone}, </if>
			<if test="schoolId != null">school_id = #{schoolId}, </if>
			<if test="dormId != null">dorm_id = #{dormId}, </if>
			<if test="isWb != null">is_wb = #{isWb}, </if>
			<if test="isSuccess != null">is_success = #{isSuccess}, </if>
			<if test="userId != null">user_id = #{userId}, </if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="isPay != null">is_pay = #{isPay},</if>
			<if test="wbIsSuccess != null">wb_is_success = #{wbIsSuccess},</if>
			<if test="isProtocol != null">is_protocol = #{isProtocol},</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from p_student_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from p_student_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>